link(rel='stylesheet', href='/stylesheets/message.css')
.message
        li(style=(message.replies.length !== 0 ? "border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem;" : "")).message-card
                a.username(href=user.url) #{user.username}
                p.message-text #{message.text}
                .reply
                        a.btn(href=`${message._id}/reply`) Reply

        if(message.replies)
                ul.replies
                        each reply, index in message.replies
                                li(style=(index === message.replies.length - 1 ? "border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem;":  "" )).reply
                                        a.username(href=reply.user.url) #{reply.user.username}:
                                        span.message-text  #{reply.text}
                                
// TODO ADD REPLIES, BUTTON IS THERE JUST THE SAME NEW MESSAGE FIELD AND THEN A DROPDOWN TO SEE THEM?